body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 16px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.info {
  color: green;
  background: lightgrey;
  font-size: 16px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog {
  padding-top: 10px;
  padding-left: 2px;
  border-width: 2px;
  margin-bottom: 5px;
}

.bloglist {
  padding-top: 10px;
  padding-left: 2px;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 5px;
}

.deleteButton {
  background: blue;
}

.menuItem{
  background-color: #333;
  overflow: hidden;
}

.menuItem a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menuItem .logout{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menuItem a:hover {
  background-color: #ddd;
  color: black;
}

.menuItem a.active {
  background-color: #4CAF50;
  color: white;
}